In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from statsmodels.formula.api import ols      # For n-way ANOVA
from statsmodels.stats.anova import _get_covariance,anova_lm # For n-way ANOVA
import matplotlib.pyplot as plt

%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import files
uploaded = files.upload()

Saving paul-newfood.csv to paul-newfood.csv

In [3]:
from google.colab import files
uploaded = files.upload()

Saving diet.csv to diet.csv

In [4]:
df=pd.read_csv('diet.csv')

In [5]:
data=pd.read_csv('paul-newfood.csv')

In [ ]:
df.head()

  gender diet  preweight  weight6weeks
0      M    B         60          60.0
1      M    B        103         103.0
2      F    A         58          54.2
3      F    A         60          54.0
4      F    A         64          63.3

In [ ]:
df.diet.value_counts()

C    27
B    27
A    24
Name: diet, dtype: int64

In [ ]:
df.gender.value_counts()

F    43
M    35
Name: gender, dtype: int64

In [ ]:
formula = 'weight6weeks ~ diet + gender + diet:gender'
model = ols(formula, df).fit()
aov_table = anova_lm(model)
print(aov_table)

               df       sum_sq      mean_sq          F        PR(>F)
diet          2.0    29.841339    14.920670   0.335607  7.160162e-01
gender        1.0  2891.375733  2891.375733  65.035052  1.162414e-11
diet:gender   2.0    10.555631     5.277816   0.118713  8.882364e-01
Residual     72.0  3201.028451    44.458728        NaN           NaN

In [ ]:
formula = 'weight6weeks ~ diet + gender + diet:gender'
model = ols(formula, df).fit()
aov_table = anova_lm(model,typ=2)
print(aov_table)

                  sum_sq    df          F        PR(>F)
diet           67.015520   2.0   0.753682  4.743066e-01
gender       2891.375733   1.0  65.035052  1.162414e-11
diet:gender    10.555631   2.0   0.118713  8.882364e-01
Residual     3201.028451  72.0        NaN           NaN

In [ ]:
formula = 'weight6weeks ~  gender+ diet + diet:gender'
model = ols(formula, df).fit()
aov_table = anova_lm(model,typ=3)
print(aov_table)

                   sum_sq    df            F        PR(>F)
Intercept    58929.206429   1.0  1325.481147  4.115753e-48
gender         741.096429   1.0    16.669312  1.138518e-04
diet            58.512268   2.0     0.658052  5.209457e-01
diet:gender     10.555631   2.0     0.118713  8.882364e-01
Residual      3201.028451  72.0          NaN           NaN

In [ ]:
formula = 'weight6weeks ~ diet + gender + diet:gender'
model = ols(formula, df).fit()
aov_table = anova_lm(model,typ=3)
print(aov_table)

                   sum_sq    df            F        PR(>F)
Intercept    58929.206429   1.0  1325.481147  4.115753e-48
diet            58.512268   2.0     0.658052  5.209457e-01
gender         741.096429   1.0    16.669312  1.138518e-04
diet:gender     10.555631   2.0     0.118713  8.882364e-01
Residual      3201.028451  72.0          NaN           NaN

In [ ]:
data.head()

   Sales  PriceLevel  AdLevel  StoreSize
0    620           1        1         34
1    774           1        1         41
2    955           1        2         32
3    669           1        2         28
4    623           1        1         34

In [ ]:
data.AdLevel.value_counts()

2    12
1    12
Name: AdLevel, dtype: int64

In [ ]:
data.PriceLevel.value_counts()

3    8
2    8
1    8
Name: PriceLevel, dtype: int64

In [ ]:
formula = 'Sales ~ C(PriceLevel) + C(AdLevel) + C(PriceLevel):C(AdLevel)'
model = ols(formula, data).fit()
aov_table = anova_lm(model)
print(aov_table)

                            df         sum_sq  ...          F    PR(>F)
C(PriceLevel)              2.0  600412.583333  ...  14.781913  0.000159
C(AdLevel)                 1.0      32.666667  ...   0.001608  0.968450
C(PriceLevel):C(AdLevel)   2.0   73850.083333  ...   1.818159  0.190898
Residual                  18.0  365562.500000  ...        NaN       NaN

[4 rows x 5 columns]

In [ ]:
formula = 'Sales ~ C(PriceLevel) + C(AdLevel) + C(PriceLevel):C(AdLevel)'
model = ols(formula, data).fit()
aov_table = anova_lm(model,typ=2)
print(aov_table)

                                 sum_sq    df          F    PR(>F)
C(PriceLevel)             600412.583333   2.0  14.781913  0.000159
C(AdLevel)                    32.666667   1.0   0.001608  0.968450
C(PriceLevel):C(AdLevel)   73850.083333   2.0   1.818159  0.190898
Residual                  365562.500000  18.0        NaN       NaN

In [6]:
formula = 'Sales ~ C(PriceLevel) + C(AdLevel) + C(PriceLevel):C(AdLevel)'
model = ols(formula, data).fit()
aov_table = anova_lm(model,typ=3)
print(aov_table)

                                sum_sq    df          F        PR(>F)
Intercept                 1.950212e+06   1.0  96.026864  1.218938e-08
C(PriceLevel)             1.372245e+05   2.0   3.378411  5.678039e-02
C(AdLevel)                5.040313e+04   1.0   2.481809  1.325820e-01
C(PriceLevel):C(AdLevel)  7.385008e+04   2.0   1.818159  1.908984e-01
Residual                  3.655625e+05  18.0        NaN           NaN

In [ ]:
formula = 'Sales ~ C(PriceLevel) + C(AdLevel) + C(PriceLevel):C(AdLevel)'
model = ols(formula, data).fit()
aov_table = anova_lm(model,type=2)
print(aov_table)

                            df         sum_sq  ...          F    PR(>F)
C(PriceLevel)              2.0  600412.583333  ...  14.781913  0.000159
C(AdLevel)                 1.0      32.666667  ...   0.001608  0.968450
C(PriceLevel):C(AdLevel)   2.0   73850.083333  ...   1.818159  0.190898
Residual                  18.0  365562.500000  ...        NaN       NaN

[4 rows x 5 columns]